@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
    background-color: black;
    margin: 0px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
}
.stat {
    display: flex;
}

.screen {
    width: 100vw;
    height: 100vh;
}
.screen1 {
    text-align: center;
}

.menu {
    background-color: #14213D;
    padding: 16px 64px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    max-width: 1024px;
    margin: 64px;
    color: white;
    text-align: center;
}

.menu h1 {
    color: #FCA311;
}

.menu button {
    all: unset;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: 4px solid white;
    border-radius: 8px;
    background-color: #E5E5E5;
    padding: 8px 16px;
    margin: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition-duration: 100ms;
    box-shadow: inset 0 0 4px rgba(0, 0, 0, 0.5);
}

.menu button:hover {
    background-color: #c7c7c7;
}

.map-background {
    background-image: url('./images/menu/backgrounds/map/map.avif');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.menu-background {
    background-image: url('./images/menu/backgrounds/screen_menu.svg');
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fight-stats {
    display: flex;
    align-items: center;
    justify-content: center;
}

.fight-hero, .fight-enemy {
    margin: 64px;
}
.fight-options {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 16px;
}

.items-fight {
    display: flex;
    padding-top: 32px
}
.items-fight img {
    margin: 16px;
}

meter {
    all: unset;
    display: block;
    width: 100%;
    height: 20px;
    border: 2px solid #000;
    border-radius: 6px;
    background-color: #f0f0f0;
    box-sizing: border-box;
}

meter::-webkit-meter-bar {
    background-color: rgb(10, 10, 10);
    border-radius: 5px;
}

meter::-webkit-meter-optimum-value {
    box-shadow: 0 5px 5px -5px #999 inset;
    /* background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(126,0,0,1) 100%); */
    background-size: 100% 100%;
}

meter::-webkit-meter-bar {
    height: 16px;
    background-image: none;
    border-radius: 3px;
}

.meter-health::-webkit-meter-optimum-value {
    background-image: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(126,0,0,1) 100%);
}
.meter-energy::-webkit-meter-optimum-value {
    background-image: linear-gradient(90deg, rgb(0, 255, 115) 0%, rgb(0, 109, 49) 100%);
}