@import url('https://fonts.googleapis.com/css2?family=Metamorphous&display=swap');

body {
    background-color: black;
    margin: 0px;
    -webkit-user-drag: none;
    -khtml-user-drag: none;
    -moz-user-drag: none;
    -o-user-drag: none;
    user-drag: none;
    user-select: none;
    font-family: "Metamorphous", serif;
    font-weight: 400;
    font-style: normal;
    font-size: 24px;
}

.card {
    background-color: brown;
    padding: 12px;
    border-radius: 12px;
    text-align: center;
}

.screen {
    width: 100vw;
    height: 100vh;
}
.screen1 {
    text-align: center;
}

.menu {
    background-color: brown;
    padding: 12px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
}

.menu button {
    all: unset;
    display: inline-block;
    cursor: pointer; 
    font-size: 24px;
    transition-duration: 250ms;
}

.menu button:hover {
    color: white
}